/****** Object:  Database [CabuyaoLostAndFound]    Script Date: 3/22/2026 11:29:10 AM ******/
CREATE DATABASE [CabuyaoLostAndFound]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 3/22/2026 11:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NULL,
	[ClaimantID] [int] NULL,
	[ProofDetails] [nvarchar](max) NULL,
	[ClaimDate] [datetime] NULL,
	[ProofImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 3/22/2026 11:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiries](
	[InquiryID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[UserEmail] [nvarchar](100) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[DateSent] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[InquiryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/22/2026 11:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ReportedByID] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[ImagePath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/22/2026 11:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[AuthorID] [int] NULL,
	[PublishDate] [datetime] NULL,
	[ImagePath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/22/2026 11:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([ClaimID], [ItemID], [ClaimantID], [ProofDetails], [ClaimDate], [ProofImagePath]) VALUES (2, 8, 2, N'claim', CAST(N'2026-03-22T03:26:05.500' AS DateTime), NULL)
INSERT [dbo].[Claims] ([ClaimID], [ItemID], [ClaimantID], [ProofDetails], [ClaimDate], [ProofImagePath]) VALUES (3, 8, 2, N'claim', CAST(N'2026-03-22T03:26:12.467' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Inquiries] ON 

INSERT [dbo].[Inquiries] ([InquiryID], [UserName], [UserEmail], [MessageContent], [DateSent], [Status]) VALUES (1, N'Rica Caballero', N'ricacaballero@gmail.com', N'Hi thank you for your fast respond to my missing bag!', CAST(N'2026-03-19T05:07:35.063' AS DateTime), N'Read')
SET IDENTITY_INSERT [dbo].[Inquiries] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ReportedByID], [Title], [Description], [Type], [Status], [ImagePath]) VALUES (3, 2, N'Cellphone', N'[User has item] Carmona Cavite', N'Elec', N'Claimed', NULL)
INSERT [dbo].[Items] ([ItemID], [ReportedByID], [Title], [Description], [Type], [Status], [ImagePath]) VALUES (4, 2, N'Black Wallet', N'[Surrendered to Authorities] Found in the back of a Jollibee pulo', N'Bags', N'Claimed', NULL)
INSERT [dbo].[Items] ([ItemID], [ReportedByID], [Title], [Description], [Type], [Status], [ImagePath]) VALUES (7, 2, N'Earphones', N'[User has item] Found near Malayan Colleges Laguna', N'Electronics', N'Published', N'uploads/0a470f78-f0c4-4f22-a923-1f6876c14a91.jpg')
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [Title], [Content], [AuthorID], [PublishDate], [ImagePath]) VALUES (7, N'dwight dengue', N'dengue', 2, CAST(N'2026-03-21T16:06:17.140' AS DateTime), N'news/60faceeac2ab494690d8f44765321ec9.jpg')
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [PasswordHash], [Role], [FullName], [Email]) VALUES (2, N'AMBfGXBBsTn3tXsSxq7Ime6K2HrZVSh1Ad8O9JkJdwFmP5ttPjsCyT7Zy9crbOgtkg==', N'Admin', N'Dwight Reyes', N'dwightreyes0154@gmail.com')
INSERT [dbo].[Users] ([UserID], [PasswordHash], [Role], [FullName], [Email]) VALUES (3, N'ACwpuJallcmYO9LkkHoFJitoG4zWBz7pv7joiWtNnsaLuoQce+gBVKxpdMMUeBDfeg==', N'User', N'Rica Caballero', N'ricacaballero@gmail.com')
INSERT [dbo].[Users] ([UserID], [PasswordHash], [Role], [FullName], [Email]) VALUES (5, N'APxxKsyMYEfveLN71bxzCpSXz1TxP2/4t1OK3jOWeuUqL7lHtuU9oDqS43GbufoEXA==', N'Admin', N'ADMIN SAMPLE', N'admin@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (getdate()) FOR [ClaimDate]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT ('Unread') FOR [Status]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ('PendingApproval') FOR [Status]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [PublishDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD FOREIGN KEY([ClaimantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([ReportedByID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
