<connectionStrings>
  <add name="CabuyaoDB"
       connectionString="Data Source=cabuyao-lost-and-found-server.database.windows.net;Initial Catalog=CabuyaoLostAndFound;User ID=AdminLogin;Password=AdminPassword0;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connect Timeout=60;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
